RewriteEngine on

#force https
#RewriteRule ^(.*)$ https://188.226.140.143/$1 [R,L]

#rwrite url to call page no matter what
RewriteRule ^ urlRoute.php [L]


#hides folder browsing
Options -Indexes
Options -MultiViews

<Files *.php>
    Order Deny,Allow
    Deny from all
    Allow from 127.0.0.1
</Files>

<Files urlRoute.php>
    Order Allow,Deny
    Allow from all
</Files>

ErrorDocument   403 /wops403.html